# Takeat Integration Credentials
NEXT_PUBLIC_TAKEAT_TEIXEIRA_EMAIL=
NEXT_PUBLIC_TAKEAT_TEIXEIRA_PASSWORD=
NEXT_PUBLIC_TAKEAT_EUNAPOLIS_EMAIL=
NEXT_PUBLIC_TAKEAT_EUNAPOLIS_PASSWORD=
NEXT_PUBLIC_TAKEAT_FOODPARK_EMAIL=
NEXT_PUBLIC_TAKEAT_FOODPARK_PASSWORD=

# Firebase Configuration (Optional override)
NEXT_PUBLIC_FIREBASE_API_KEY=
